.categories{
    width: 100%;
    overflow: hidden;
    .category{
            width: 56px;
            margin-right: 10px;
            .icon{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 56px;
                height: 56px;
                background: $dark-primary;
                padding: 1rem;
                border-radius: 25%;
                text-align: center;
            }
            .name{
                font-size: 0.6875rem;
                white-space: normal;
                overflow-wrap: break-word;
                text-align: center;
                line-height: 1rem;
                margin-top: 0.5rem;
                letter-spacing: -0.1px;
            }
    }
}
.popular-games{
    padding-bottom: 0.25rem;
    border-bottom: 1px solid rgb(49, 55, 63);
    .popular-item{
        & > div{
            width: 15.75rem;
        }
        .image{
            position: relative;
            height: 6rem;
            width: 6rem;
            flex-shrink: 0;
            overflow: hidden;
            border-radius: 0.75rem;
            overflow: hidden;
        }
    }
}