header{
    background-color: $dark-primary;
    padding: 1rem 0;
    color: #fff;
    .languages{
        background-color: $dark-primary;
        select{
            background-color: transparent !important;
            background: $dark-primary;
            -webkit-appearance: none;
            color: $light-primary;
            padding: 0.5625rem 2.5rem 0.5625rem 0.9375rem;
            border: 1px solid rgba($light-primary, 0.5);
            transition: border-color 0.2s ease 0s;
            border-radius: 6.25rem;
            option{
                background-color: $dark-primary;
            }
            &:hover{
                border-color: rgba($light-primary, 1);
                outline: none;
            }
        }
    }
}
.home-heading-section{
    padding: 1.5rem 0px;
    .partners{
        .partner{
            flex-basis: 9.625rem;
            padding: 0px 1rem;
            border-right: 1px solid rgb(49, 55, 63);
            svg{
                width: 50px;
            }
            span{  
                margin-left: 1rem;
                font-size: 0.75rem;
                line-height: 1rem;
                color: $light-primary;
            }
        }
    }
    .actions{
        .btn{
            padding: 0.75rem 2.5rem;
        }
        .sign-in{
            color: #86a297;
            &:hover{
                color: #fff;
            }
        }
        .register{
            color: #fff;
        }
    }
}